<form accept-charset="UTF-8" class="new_project_member" id="new_project_member" method="post">
  <div class="form-group" id="bigboard-autocomplete">
    <label class="control-label" for="project_member_person_id">Person</label>
    <input class="form-control typeahead" id="project_member_person_id" name="project_member[person_id]" placeholder="" type="text">
  </div>
  <div class="form-group">
    <input id="project_member_role_id" name="project_member[role_id]" type="hidden" value="<%= role_id %>">
    <input class="btn btn-default" name="commit" type="submit" value="Add">
  </div>
</form>