<% @title = "Initiatives for #{@board.name}" %>
<h1>Initiatives <span><%= link_to 'Create New', new_board_initiative_path(@board), :class => 'btn btn-primary btn-xs' %></h1>

<%= render partial: "initiatives/table", locals: {initiatives: @initiatives} %>
