<div class="container">
  <h1 class="page-header">Big Board</h1>

  <a class="btn btn-primary" href="https://www.yammer.com/dialog/oauth?client_id=<%= Rails.application.secrets.yammer_api_key %>&redirect_uri=http://<%= request.host_with_port %>/auth/yammer/callback">Sign in with Yammer</a>
</div>