<% @board.people.each do |p| %>
  <% if p.team.single_project? && p.active_project_count != 1 %>
  <div class="alert alert-warning"><%= link_to p.name, board_person_url(@board, p) %>
    <% if p.active_project_count == 0 %>
    is unassigned
    <% elsif p.active_project_count > 1 %>
    is assigned to <%= p.active_project_count %> projects 
    <% p.active_projects.each do |p| %>
    - <%= link_to p.name, edit_board_project_path(@board, p) %>
    <% end %>
  <% end %>
  </div>
  <% end %>
<% end %>
