<% @title = "Editing #{@board.name}" %>

<h1>Edit Board</h1>

<%= render 'form' %>

<h2><%= @board.name %> Initiatives</h2>
<%= render partial: "initiatives/table", locals: {initiatives: @board.initiatives} %>

<%= link_to 'Back', @board %>
