/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container-fluid .alerts-row {
  margin: 0 10px;
}

.actions {
  margin: 20px 0;
}

.person-tag {
  color: #333;
  display: inline-block;
  font-size: 12px;
  padding: 2px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 10em;
  overflow: hidden;
  cursor: default;
}

.person-tag:hover {
  max-width: 20em;
}

footer {
  min-height: 50px;
  margin: 20px;
}