.row-board {
  margin: 0 10px;
}

.row-board .panel {
  overflow-x: scroll;
}

.row-board .table-responsive {
  min-width: 1400px;
}

.table-board {
  font-size: 13px;
}

.table-board .project a {
  font-weight: normal;
}

.table-board th.project sup {
  color: #666;
}

.table-board th a {
  color: #333;
}

.table-board .person-tag {
  width: 9em;
  min-width: 9em;
  text-align: center;
  margin: 1px;
}

.table-board td.people {
  padding: 0;
}

.table-board .people .btn {
  margin: 1px;
  vertical-align: top;
  visibility: hidden;
}

.table-board .people:hover .btn {
  visibility: visible;
}

.table-board .date {
  min-width: 6em;
}

.table-board .date [data-toggle=tooltip] {
  cursor: pointer;
}

.table-board .project {
  min-width: 10em;
}

.table-board .list-inline {
  display: inline;
  margin: 0;
}

.table-board .list-inline > li {
  line-height: 1;
  max-width: 10em;
  padding: 0;
  text-align: center;
}

.table-board .popover-content {
  padding: 10px;
}

.table-board .list-inline > li .popover-content {
  line-height: 1.3;
}

.row-board h2 {
  margin-right: 250px;
}

.board-actions {
  margin-top: -30px;
}