/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/



.percent-field {
  display: inline;
  width: 15%;
  margin-left: 5px;
}